# Ignore everything by default
*

!.gitignore
!nvim/
!nvim/**

!helix/
!helix/**


!alacritty/
!alacritty/**


!foot/
!foot/**

!fish/
!fish/**

!fish/
!fish/**

!tmux/
!tmux/**


!ags/
!ags/**

!hypr/
!hypr/**

!rofi/
!rofi/**

!waybar/
!waybar/**

!wlogout/
!wlogout/**

