# Ignore everything by default
*

!.gitignore


!.config/

!.config/nvim/
!.config/nvim/**

!.config/helix/
!.config/helix/**


!.config/alacritty/
!.config/alacritty/**




!.config/foot/
!.config/foot/**

!.config/fish/
!.config/fish/**

!.config/fish/
!.config/fish/**

!.config/tmux/
!.config/tmux/**

!.tmux.conf
!.tmux/
!.tmux/**



!.config/ags/
!.config/ags/**

!.config/hypr/
!.config/hypr/**

!.config/rofi/
!.config/rofi/**

!.config/waybar/
!.config/waybar/**

!.config/wlogout/
!.config/wlogout/**

